# ignore temp files ~
*~

# ignore hidden files
.*

# ignore files with the rolling extensions
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.bib.bak

# ignore prelim files
*prelim

# don't ignore the .gitignore file
!.gitignore