# ignore temp files ~
*~

# ignore hidden files
.*

# ignore files with the rolling extensions
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.bib.bak

# ignore prelim files
*prelim

# ignore ido.last
ido.last

# don't ignore the .gitignore and .gitmodules file
!.gitignore
!.gitmodules
