# ESS submodule
[submodule "ESS"]
	path = ESS
	url = https://github.com/emacs-ess/ESS

# yasnippet submodule
[submodule "yasnippet"]
	path = plugins/yasnippet
	url = https://github.com/capitaomorte/yasnippet

# monokai theme submodule
[submodule "monokai-theme"]
	path = themes/monokai-theme
	url = https://github.com/oneKelvinSmith/monokai-emacs
