# ignore temp files ~
*~

# ignore hidden files
.*

# ignore files with the rolling extensions
*.Rhistory
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.synctex.gz
*.bib.bak

# ignore prelim files
*prelim.

# ignore ido.last, smex-items and ac-comphist
ido.last
smex-items
ac-comphist.dat
# ignore elpa and url folders
elpa/
url/
session.10*
#setup-helm.el#
semanticdb/

# don't ignore the .gitignore and .gitmodules file
!.gitignore
!.gitmodules

# Others
*README.md#
projectile-bookmarks.eld
semanticdb/
session.*
*#

# Ignore secret org-gcal settings
setup-org-secret.el

abbrev_defs
